h1 {
    font-family: 'Oswald', sans-serif;
    color: limegreen;
    margin: auto;
    width: 200px;
}

/* body {
    background-color: green;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("https://www.lordabbett.com/content/dam/lordabbett/en/images/topics/Financial-Markets/Financial-Markets-Stock-Chart.jpg");
    margin: 0 auto;
    max-width: 50em;
  } */

.grid-container {
    display: grid;
    grid-row-gap: 0px;
    grid-template-columns: auto auto auto auto;
    background-color: lightgreen;
    padding: 10px;
    width: 500px;
    margin: 0 auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 1px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#players{
    display: grid;
    grid-template-columns: auto auto;
    margin:0  auto;
}


#dice{
    margin: 0 auto;
    color: lightgreen;
    width: 500;
}

.die {
    margin: 0 auto;
}

#players{
    color: red;
    font-family: 'Oswald', sans-serif;
}

#buy_animal {
    outline-width: 0ch;

	box-shadow:inset 0px 34px 0px -15px #b54b3a;
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: fantasy
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;
    border
}
#buy_animal:hover {
	background-color:#b34332;
}
#buy_animal:active {
	position:relative;
	top:1px;
}
